In [441]:
import pandas as pd

"""
The final objective is to only disnplay customers which should 
be contacted (and format the attributes when possible).
"""

df = pd.read_excel("Customer Call List.xlsx")
# NOTE: Do not drop/replace NaN/Na values this early.
# df.fillna("", inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [442]:
# TEST

# If there's any NaN/Na, the lambda passed to apply() will not work.
df_copy = df.fillna("", inplace=False) 

# df_copy["Last_Name"].str.find("/")
# df_copy["Last_Name"].str.findall(pat="(/|\.\.\.|_)")

# `pat = "..._/"`
# df_copy["Last_Name"].str.findall(pat="(/|\.\.\.|_)").apply(lambda item: print(type(item)))
mask = df_copy["Last_Name"].str.findall(pat="(/|\.\.\.|_)").apply(lambda item: len(item) != 0)
mask

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20    False
Name: Last_Name, dtype: bool

In [443]:
# 1
df.drop_duplicates(inplace=True)
df.drop(columns="Not_Useful_Column", inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [444]:
# 2

df.rename(columns={"Paying Customer":"Paying_Customer"}, inplace=True)

df["Paying_Customer"] = df["Paying_Customer"].str.replace("Yes", repl="Y", regex=False)
df["Paying_Customer"] = df["Paying_Customer"].str.replace("No", repl="N", regex=False)

df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("Yes", repl="Y", regex=False)
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("No", repl="N", regex=False)
# mask = df["Do_Not_Contact"] != "N" # Meaning it should be contacted.

# This filters a lot of observations (rows) and prevents unnecessary processing on them.
# NOTE: Maybe you sould postpone this step in order to understand better the other steps.
# for index in df.index:
#     if df.loc[index, "Do_Not_Contact"] != "N":
#         df.drop(index, inplace=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying_Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,N,Y
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,N
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y
6,1007,Jeff,Winger,NaN,1209 South Street,N,N
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,N
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Y,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Y,N
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,N
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Y,N
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Y
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Y,N

In [445]:
# 3

# df["Last_Name"].str.lstrip("/...")
# df["Last_Name"].str.rstrip("_")
df["Last_Name"] = df["Last_Name"].str.strip("/..._")
# df["Last_Name"] = df["Last_Name"].str.strip("[^a-zA-Z0-9]") # Doesn't work.
df["Last_Name"]

0        Baggins
1          Nadir
2          White
3        Schrute
4           Snow
5        Swanson
6         Winger
7         Holmes
8            NaN
9         Parker
10        Gamgee
11        Potter
12        Draper
13         Knope
14    Flenderson
15       Weasley
16         Scott
17          Kent
18        Braton
19     Skywalker
Name: Last_Name, dtype: object

In [446]:
# 4

# df["Phone_Number"].astype(dtype=str) # Postponed

# NOTE: The str.replace() method returns NaN for entries that are not strings. To avoid 
# this, we need to ensure all entries are treated as strings before applying the replace method.
# df["Phone_Number"].astype(str).str.replace(pat="[^a-zA-Z0-9]", repl="", regex=True)

# This one also removes N/a (but also filters letters).
df["Phone_Number"] = df["Phone_Number"].astype(str).str.replace(pat="\D", repl="", regex=True)
df["Phone_Number"]

0     1235455421
1     1236439775
2     7066950392
3     1235432345
4     8766783469
5     3047622467
6
7     8766783469
8
9     1235455421
10
11    7066950392
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17    7066950392
18
19    8766783469
Name: Phone_Number, dtype: object

In [447]:
# 5

# df["Phone_Number"] = df["Phone_Number"].apply(lambda x: f"{x[0:3]}-{x[3:6]}-{x[6:10]}")

# This lambda prevents unecessary replacement for invalid values 
# and breaking alreay formatted phone numners.
format_phone = lambda x: f"{x[0:3]}-{x[3:6]}-{x[6:10]}" if len(x) == 10 else x 

df["Phone_Number"] = df["Phone_Number"].apply(format_phone)
df["Phone_Number"]

0     123-545-5421
1     123-643-9775
2     706-695-0392
3     123-543-2345
4     876-678-3469
5     304-762-2467
6
7     876-678-3469
8
9     123-545-5421
10
11    706-695-0392
12    123-543-2345
13    876-678-3469
14    304-762-2467
15    123-545-5421
16    123-643-9775
17    706-695-0392
18
19    876-678-3469
Name: Phone_Number, dtype: object

In [448]:
# 6

df_address = df["Address"].str.split(pat=",\s*", n=2, regex=True, expand=True)

df[["Street", "State", "Zip_Code"]] = df_address
df.drop(columns="Address", inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying_Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,N,Y,93 West Main Street,None,None
2,1003,Walter,White,706-695-0392,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,,N,N,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,None,None
8,1009,Gandalf,NaN,,Y,NaN,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,None
10,1011,Samwise,Gamgee,,Y,N,612 Shire Lane,Shire,None
11,1012,Harry,Potter,706-695-0392,Y,NaN,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,706-695-0392,Y,NaN,3498 Super Lane,None,None
18,1019,Creed,Braton,,N/a,Y,N/a,None,None
19,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,None

In [449]:
# TEST

# NOTE: You could get rid of duplicated phone numbers, but it still makes 
# sense to be able to contact more than one person using the same phone number, right?
df.drop_duplicates(subset="Phone_Number", inplace=False) # Result if applied.

,CustomerID,First_Name,Last_Name,Phone_Number,Paying_Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,N,Y,93 West Main Street,None,None
2,1003,Walter,White,706-695-0392,N,NaN,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,Y,Y,768 City Parkway,None,None
6,1007,Jeff,Winger,,N,N,1209 South Street,None,None

In [450]:
# 7

for index in df.index:
    temp = df.loc[index, ["Phone_Number", "Do_Not_Contact"]]
    # Drops empty phone numbers and people who should not be contacted.
    if temp["Phone_Number"] == "" or temp["Do_Not_Contact"] != "N":
        df.drop(index, inplace=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying_Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,None
4,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,None,None
7,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,None,None
9,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,None
12,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,None
19,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,None