## Describing / Sorting

In [119]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [124]:
df.columns.values # returns an array object
df.columns        # returns an Index object
df.index          # size of the dataframe

RangeIndex(start=0, stop=800, step=1)

In [161]:
type(df.columns != "#") # numpy.ndarray

numpy.ndarray

In [125]:
# std: Standard Deviation (Basically the square root of the Variance)
# df.describe()
df.loc[:, (df.columns != "#") & (df.columns != "Generation")].describe() # Filtering the pokemon's ID and Generation

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,status_sum
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,435.10250
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,119.96304
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,180.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,330.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,450.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,515.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,780.00000

In [122]:
# df.sort_values("Name", ascending=True)
# df.sort_values(["Name", "HP"], ascending=[0, 1])
# df.sort_values(["Name", "HP"], ascending=[0, 1])[["Name","HP"]]

# The first column has sorting prefference ("HP" in this case).
# df.sort_values(["HP", "Name"], ascending=[True, False], ignore_index=False)[["Name","HP"]][:10]
df.sort_values(["HP", "Name"], ascending=[True, False], ignore_index=False)[["Name","HP"]][:10]

          Name  HP
316   Shedinja   1
55     Diglett  10
230    Shuckle  20
186      Pichu  20
487   Mime Jr.  20
139   Magikarp  20
381     Feebas  20
388    Duskull  20
88   Magnemite  25
68        Abra  25

In [160]:
type(df.loc[:, ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]]) # pandas.core.frame.DataFrame
type(df.loc[:, ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].sum(axis=1)) # pandas.core.series.Series

# A Series object is basically a column of the dataframe

pandas.core.series.Series

In [140]:
# First option
# df["status_sum"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]

# Second option
# df["status_sum"] = df.iloc[:, 4:9+1].sum(axis=1) # asix=1 sums row values

# Thrid option
df["status_sum"] = df.loc[:, ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].sum(axis=1)
# Proof of concept
# df["status_sum"] = df.loc[:, ["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed", "Generation"]].sum(axis=1)

df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,status_sum
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [151]:
df["status_sum"] # Triggers an error if the column "status_sum" is not yed defined

# df[["status_sum", "HP", "Defense"]]

# Basic list manipulation to rearange the order of columns inside the dataframe
cols = list(df.columns)
# dftmp = df[cols[0:3+1] + [cols[-1]] + cols[4:]]
dftmp = df[cols[0:3+1] + [cols[-1]] + cols[4:-1]] # The last -1 prevents the "status_sum" from appearing again
dftmp

,#,Name,Type 1,Type 2,status_sum,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [154]:
# df.to_csv("newcsv.txt", sep="\t")
df.to_csv("newcsv.txt", sep="\t", index=False)