## Filtering Data

In [64]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")
# df

In [65]:
df.loc[df["Type 1"] == "Flame", "Type 1"] = "Fire"
df.loc[df["Type 1"] == "Fire"][:10].sort_values("#", ignore_index=True)

# df.loc[df["Type 1"] == "Fire", "Type 1"] = "Flame"
# df.loc[df["Type 1"] == "Flame"][:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
1,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
2,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
3,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
4,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
5,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
6,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
7,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
8,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
9,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False

In [66]:
import re

# df_grass = df.loc[df["Type 1"] == "Grass"][:10]
df_grass = df.loc[df["Type 1"].str.contains("grass", flags=re.IGNORECASE, regex=True)][:10]
# df_grass.reset_index(drop=True, inplace=True) # Comment this to get the original indexes
df_grass

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False

In [67]:
df.loc[df["Type 2"] == "Poison"]
df.loc[df["Type 2"] == "Poison"].reset_index()[:5] # Creates a new column containing the old indexes
df.loc[df["Type 2"] == "Poison"].reset_index(drop=True)[:5] # Doesn't append the old index column

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False

In [68]:

# df_poison = df.loc[df["Type 2"] == "Poison"]
# na=False -> removes NaN and N/A by treating them as False for the match
df_poison = df.loc[df["Type 2"].str.contains("poison", flags=re.IGNORECASE, na=False)] 
# na=True  -> NaN and N/A values are treated as True for the match
# df_poison = df.loc[df["Type 2"].str.contains("poison", flags=re.IGNORECASE, na=True)] 

# Option 2 for dealing with NaN and N/A
# df["Type 2"] = df["Type 2"].fillna(False)

# Reduces memory consumption (returns nothing, it modifies the original dataframe)
df_poison.reset_index(drop=True, inplace=True) 
df_poison[:5]

# df["Type 2"].str.contains("poison", flags=re.IGNORECASE)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False